<form method="post">
  <div class="inputsTrack">

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> L - Vermelho </span>
        <span class="bound_label_Right">255</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_selectFilterColor_Red_Min }}</h4>
        <input type="range" min="0" max="255" name="trackbar_parametersFilter_selectFilterColor_Red_Min"  
          value="{{ varhtml_parametersFilter_selectFilterColor_Red_Min }}" 
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="255" name="number_parametersFilter_selectFilterColor_Red_Min"   
          value="{{ varhtml_parametersFilter_selectFilterColor_Red_Min }}" 
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> L - Azul </span>
        <span class="bound_label_Right">255</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_selectFilterColor_Blue_Min }}</h4>
        <input type="range" min="0" max="255" name="trackbar_parametersFilter_selectFilterColor_Blue_Min" 
          value="{{ varhtml_parametersFilter_selectFilterColor_Blue_Min }}" 
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="255" name="number_parametersFilter_selectFilterColor_Blue_Min" 
          value="{{ varhtml_parametersFilter_selectFilterColor_Blue_Min }}" 
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> L - Verde </span>
        <span class="bound_label_Right">255</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_selectFilterColor_Green_Min }}</h4>
        <input type="range" min="0" max="255" name="trackbar_parametersFilter_selectFilterColor_Green_Min"  
          value="{{ varhtml_parametersFilter_selectFilterColor_Green_Min }}" 
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="255" name="number_parametersFilter_selectFilterColor_Green_Min"   
          value="{{ varhtml_parametersFilter_selectFilterColor_Green_Min }}" 
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> U - Vermelho </span>
        <span class="bound_label_Right">255</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_selectFilterColor_Red_Max }}</h4>
        <input type="range" min="0" max="255" name="trackbar_parametersFilter_selectFilterColor_Red_Max" 
          value="{{ varhtml_parametersFilter_selectFilterColor_Red_Max }}" 
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="255" name="number_parametersFilter_selectFilterColor_Red_Max" 
          value="{{ varhtml_parametersFilter_selectFilterColor_Red_Max }}" 
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> U - Azul </span>
        <span class="bound_label_Right">255</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_selectFilterColor_Blue_Max }}</h4>
        <input type="range" min="0" max="255" name="trackbar_parametersFilter_selectFilterColor_Blue_Max" 
          value="{{ varhtml_parametersFilter_selectFilterColor_Blue_Max }}" 
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="255" name="number_parametersFilter_selectFilterColor_Blue_Max" 
          value="{{ varhtml_parametersFilter_selectFilterColor_Blue_Max }}" 
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> U - Verde </span>
        <span class="bound_label_Right">255</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_selectFilterColor_Green_Max }}</h4>
        <input type="range" min="0" max="255" name="trackbar_parametersFilter_selectFilterColor_Green_Max" 
          value="{{ varhtml_parametersFilter_selectFilterColor_Green_Max }}" 
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="255" name="number_parametersFilter_selectFilterColor_Green_Max" 
          value="{{ varhtml_parametersFilter_selectFilterColor_Green_Max }}" 
          onchange="send()">
      </div>
    </div>
  </div>

  <div class="inputsTrack">
    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> Iterations erode </span>
        <span class="bound_label_Right">10</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_iterations_erode }}</h4>
        <input type="range" min="0" max="10" name="trackbar_parametersFilter_iterations_erode" 
          value="{{ varhtml_parametersFilter_iterations_erode }}"
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="10" name="number_parametersFilter_iterations_erode" 
          value="{{ varhtml_parametersFilter_iterations_erode }}"
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> Iterations dilate </span>
        <span class="bound_label_Right">10</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_Iterations_dilate }}</h4>
        <input type="range" min="0" max="10" name="trackbar_parametersFilter_iterations_dilate"
          value="{{ varhtml_parametersFilter_Iterations_dilate }}" 
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="10" name="number_parametersFilter_iterations_dilate"
          value="{{ varhtml_parametersFilter_Iterations_dilate }}" 
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span>Emen. Tam. Min. LV </span>
        <span class="bound_label_Right">3000</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorVertically_JumpSize_Min }}</h4>
        <input type="range" min="0" max="3000" name="trackbar_parametersFilter_SpliceLineJumpingWhiteColorVertically_JumpSize_Min" 
          value="{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorVertically_JumpSize_Min }}"
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="3000" name="number_parametersFilter_SpliceLineJumpingWhiteColorVertically_JumpSize_Min" 
          value="{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorVertically_JumpSize_Min }}"
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span>Emen. Tam. Max. LV </span>
        <span class="bound_label_Right">3000</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorVertically_JumpSize_Max }}</h4>
        <input type="range" min="0" max="3000" name="trackbar_parametersFilter_SpliceLineJumpingWhiteColorVertically_JumpSize_Max" 
          value="{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorVertically_JumpSize_Max }}"
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="3000" name="number_parametersFilter_SpliceLineJumpingWhiteColorVertically_JumpSize_Max" 
          value="{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorVertically_JumpSize_Max }}"
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span>Emen. Tam. Min. LH </span>
        <span class="bound_label_Right">3000</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorHorizontally_JumpSize_Min }}</h4>
        <input type="range" min="0" max="3000" name="trackbar_parametersFilter_SpliceLineJumpingWhiteColorHorizontally_JumpSize_Min" 
          value="{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorHorizontally_JumpSize_Min }}"
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="3000" name="number_parametersFilter_SpliceLineJumpingWhiteColorHorizontally_JumpSize_Min" 
          value="{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorHorizontally_JumpSize_Min }}"
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span>Emen. Tam. Max. LH </span>
        <span class="bound_label_Right">3000</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorHorizontally_JumpSize_Max }}</h4>
        <input type="range" min="0" max="3000" name="trackbar_parametersFilter_SpliceLineJumpingWhiteColorHorizontally_JumpSize_Max" 
          value="{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorHorizontally_JumpSize_Max }}"
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="3000" name="number_parametersFilter_SpliceLineJumpingWhiteColorHorizontally_JumpSize_Max" 
          value="{{ varhtml_parametersFilter_SpliceLineJumpingWhiteColorHorizontally_JumpSize_Max }}"
          onchange="send()">
      </div>
    </div>
  </div>

  <div class="inputsTrack">
    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> Tam. Min </span>
        <span class="bound_label_Right">3000</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_FoundObjectSizeFilter_Min }}</h4>
        <input type="range" min="0" max="3000" name="trackbar_parametersFilter_FoundObjectSizeFilter_Min" 
          value="{{ varhtml_parametersFilter_FoundObjectSizeFilter_Min }}"
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="3000" name="number_parametersFilter_FoundObjectSizeFilter_Min" 
          value="{{ varhtml_parametersFilter_FoundObjectSizeFilter_Min }}" 
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> Tam. Max </span>
        <span class="bound_label_Right">100000</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_FoundObjectSizeFilter_Max }}</h4>
        <input type="range" min="0" max="100000" name="trackbar_parametersFilter_FoundObjectSizeFilter_Max" 
          value="{{ varhtml_parametersFilter_FoundObjectSizeFilter_Max }}"
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="100000" name="number_parametersFilter_FoundObjectSizeFilter_Max" 
          value="{{ varhtml_parametersFilter_FoundObjectSizeFilter_Max }}"
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> Tam. Min. linha Vert. </span>
        <span class="bound_label_Right">1000</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_VerticalLineSizeFilterOfFoundObject_Min }}</h4>
        <input type="range" min="0" max="1000" name="trackbar_parametersFilter_VerticalLineSizeFilterOfFoundObject_Min"
          value="{{ varhtml_parametersFilter_VerticalLineSizeFilterOfFoundObject_Min }}" 
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="1000" name="number_parametersFilter_VerticalLineSizeFilterOfFoundObject_Min"
          value="{{ varhtml_parametersFilter_VerticalLineSizeFilterOfFoundObject_Min }}" 
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> Tam. Max. linha Vert. </span>
        <span class="bound_label_Right">1000</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_VerticalLineSizeFilterOfFoundObject_Max }}</h4>
        <input type="range" min="0" max="1000" name="trackbar_parametersFilter_VerticalLineSizeFilterOfFoundObject_Max"
          value="{{ varhtml_parametersFilter_VerticalLineSizeFilterOfFoundObject_Max }}" 
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="1000" name="number_parametersFilter_VerticalLineSizeFilterOfFoundObject_Max"
          value="{{ varhtml_parametersFilter_VerticalLineSizeFilterOfFoundObject_Max }}" 
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> Tam. Min. linha Hor. </span>
        <span class="bound_label_Right">1000</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_HorizontallyLineSizeFilterOfFoundObject_Min }}</h4>
        <input type="range" min="0" max="1000" name="trackbar_parametersFilter_HorizontallyLineSizeFilterOfFoundObject_Min"
          value="{{ varhtml_parametersFilter_HorizontallyLineSizeFilterOfFoundObject_Min }}" 
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="1000" name="number_parametersFilter_HorizontallyLineSizeFilterOfFoundObject_Min"
          value="{{ varhtml_parametersFilter_HorizontallyLineSizeFilterOfFoundObject_Min }}" 
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> Tam. Max. linha Hor. </span>
        <span class="bound_label_Right">1000</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_parametersFilter_HorizontallyLineSizeFilterOfFoundObject_Max }}</h4>
        <input type="range" min="0" max="1000" name="trackbar_parametersFilter_HorizontallyLineSizeFilterOfFoundObject_Max"
          value="{{ varhtml_parametersFilter_HorizontallyLineSizeFilterOfFoundObject_Max }}" 
          onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0" max="1000" name="number_parametersFilter_HorizontallyLineSizeFilterOfFoundObject_Max"
          value="{{ varhtml_parametersFilter_HorizontallyLineSizeFilterOfFoundObject_Max }}" 
          onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> Convert. Pix - mm X </span>
        <span class="bound_label_Right">1000.0</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_ConstResolutionPixelMm_X }}</h4>
        <input type="range" min="0,0" max="1000,0" name="trackbar_ResolutionPixMm_X"
          value="{{ varhtml_ConstResolutionPixelMm_X }}" onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0,0" max="1000,0" name="number_ResolutionPixMm_X"
          value="{{ varhtml_ConstResolutionPixelMm_X }}" onchange="send()">
      </div>
    </div>

    <div class=inputTrack>
      <div class="labelRange">
        <span class="bound_label_Left">0</span>
        <span> Convert. Pix - mm Y </span>
        <span class="bound_label_Right">1000.0</span>
      </div>
      <div class="valueRange">
        <h4>{{ varhtml_ConstResolutionPixelMm_Y }}</h4>
        <input type="range" min="0,0" max="1000,0" name="trackbar_ResolutionPixMm_Y"
          value="{{ varhtml_ConstResolutionPixelMm_Y }}" onchange="send()">
      </div>
      <div class="valueRange">
        <input type="number" min="0,0" max="1000,0" name="number_ResolutionPixMm_Y"
          value="{{ varhtml_ConstResolutionPixelMm_Y }}" onchange="send()">
      </div>
    </div>
  </div>
</form>

<form id="formSalvar" method="post">
  <div id="btSalvar-container">
    <input name=parameters_name type="text" value="{{ varhtml_name }}" onchange="sendName()"/>
    <button name="btSalvar" type="button" onclick="save()">SALVAR</button>
    <div id="parametro-container">
  </div>
</form>

<form id="selectNameParameter" method="post">
  <div id="select-parametro-container">
    <label for="parametros-select">Selecao de parametro</label>
    <select name="parametrosSelect" onchange="callParameters()">
      {% for name in nameParameters %}
      <option value="{{name.0}}">{{name.1}}</option>
      {% endfor %}
    </select>
  </div>
</form>

<script>
  function send() {
    document.querySelector("form").submit()
  }

  function sendName() {
    document.querySelector("#formSalvar").submit()
  }

  function save() {
    fetch("/form-salvar")
  }

  function callParameters(){
    document.querySelector("#selectNameParameter").submit()  
  }

</script>